[Desktop Entry]
Categories = Network;FileTransfer;
Comment = Sync your files with Dropbox
Exec=/media/sda2/git_clone/AppImage_shortcut_desktop/Maestral/Maestral_run.sh
GenericName=File Synchroniser
Icon=/media/sda2/git_clone/AppImage_shortcut_desktop/Maestral/Maestral.png
MimeType=
Name = Maestral
StartupNotify=true
Terminal=0
Type=Application
