[Desktop Entry]
Categories=Development
Comment=Scientific computing environment
Exec=/media/sda2/git_clone/04_AppImage_shortcut_desktop/zz_others_not_AppImage/MATLAB/MATLAB_run.sh
Icon=/media/sda2/git_clone/04_AppImage_shortcut_desktop/zz_others_not_AppImage/MATLAB/MATLAB.jpeg
Name=MATLAB
StartupNotify=false
#Terminal=0
Terminal=1
Type=Application
MimeType=text/x-matlab
StartupWMClass=com-mathworks-util-PostVMInit
