[Desktop Entry]
Categories=Development
Comment=Scientific computing environment
Exec=/media/sda2/git_clone/04_AppImage_Shortcut_Desktop/zz_others_not_AppImage/MATLAB/MATLAB_run.sh
Icon=/media/sda2/git_clone/04_AppImage_Shortcut_Desktop/zz_others_not_AppImage/MATLAB/MATLAB.jpeg
MimeType=text/x-matlab
Name=MATLAB
StartupNotify=false
Terminal=1
Type=Application
StartupWMClass=com-mathworks-util-PostVMInit
