[Desktop Entry]
Categories=AudioVideo;AudioVideoEditing;
Exec=/media/sda2/git_clone/AppImage_shortcut_desktop/MKVToolNix/MKVToolNix_run.sh
GenericName=Matroska files creator and tools
Icon=/media/sda2/git_clone/AppImage_shortcut_desktop/MKVToolNix/MKVToolNix.png
MimeType=application/x-mkvtoolnix-gui-settings;video/x-matroska-3d;video/x-matroska;audio/x-matroska;video/webm;audio/webm;
Name=MKVToolNix GUI
StartupNotify=true
Terminal=0
Type=Application
