[Desktop Entry]
Categories=Utility
Comment=AppImage mount and view files by script
Exec=run_AppImage_JBs.sh %f -v; read asfsda
GenericName=AppImage_View
Icon=/media/sda2/git_clone/04_AppImage_shortcut_desktop/AppImage_run/AppImage_logo.jpg
Keywords=AppImage
MimeType=application/vnd.appimage;application/x-iso9660-appimage;
Name=AppImage_View
StartupNotify=true
StartupWMClass=AppImage_View
Terminal=1
Type=Application
