[Desktop Entry]
Categories=Utility
Comment=AppImage run by script
Exec=run_AppImage_JBs.sh %f -r; echo -e "\nHit enter to terminate"; read _
GenericName=AppImage_Run
Icon=/media/sda2/git_clone/04_AppImage_Shortcut_Desktop/AppImage_run/AppImage_logo.jpg
Keywords=AppImage
MimeType=application/vnd.appimage;application/x-iso9660-appimage;
Name=AppImage_Run
StartupNotify=true
StartupWMClass=AppImage_Run
Terminal=1
Type=Application
