[Desktop Entry]
Categories=Network;InstantMessaging;
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=/media/sda2/home/j/.0installed/Discord/Discord/Discord
GenericName=Internet Messenger
Icon=/media/sda2/home/j/.0installed/Discord/Discord/discord.png
Name=Discord
StartupWMClass=discord
StartupNotify=true
Terminal=0
Type=Application
