[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Fast and secure web browser
Exec=/media/sda2/git_clone/04_AppImage_shortcut_desktop/Opera/Opera_run.sh
GenericName=Web browser
Icon=/media/sda2/git_clone/04_AppImage_shortcut_desktop/Opera/Opera.png
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-opera-download;
Name=Opera
StartupNotify=true
Terminal=0
Type=Application
