[Desktop Entry]
Categories=GTK;Archiving;Compression;Utility;
Comment=Comprise and extract files
Exec=/media/sda2/git_clone/04_AppImage_shortcut_desktop/PeaZip/PeaZip_run.sh
Icon=/media/sda2/git_clone/04_AppImage_shortcut_desktop/PeaZip/PeaZip.png
MimeType=application/x-rar:application/x-zip;application/x-compressed-rar:application/x-compressed-zip
Name=PeaZip
StartupNotify=true
StartupWMClass=PeaZip
Terminal=0
Type=Application
