[Desktop Entry]
Categories=Utility;
Comment=Chat with multiple AI bots and discover the best.
Exec=/media/sda2/git_clone/04_AppImage_Shortcut_Desktop/ChatALL/ChatALL_run.sh
Icon=/media/sda2/git_clone/04_AppImage_Shortcut_Desktop/ChatALL/ChatALL.jpg
Name=ChatALL
StartupNotify=true
StartupWMClass=ChatALL
Terminal=0
Type=Application
